@using SistemaContatos.Enums
@model List<UserModel>
@{
    ViewData["Title"] = "Lista de Contatos";
}

@*<div class="text-center">
    <h1 class="display-4">Bem Vindo! @Model.Name</h1>
    <p>E-mail: @Model.Email</p>
</div>*@

<a role="button" class="btn btn-primary" id="btn-criar" asp-action="Criar" asp-controller="User">Criar novo usuário</a>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
        @TempData["SuccessMessage"]
    </div>

}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
        @TempData["ErrorMessage"]
    </div>

}



<table class="table table-striped" id="users-table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">Login</th>
            <th scope="col">Email</th>
            <th scope="col">Perfil</th>
            <th scope="col">Data do cadastro</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>

        @if (@Model != null && @Model.Any())
        {


            @foreach (UserModel user in Model)
            {
                <tr>
                    <th scope="row">@user.Id.ToString().Substring(0,8)</th>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Login</td>
                    <td>@user.Email</td>
                    <td>@(user.Perfil == @PerfilEnum.admin ? "Administrador" : "Padrão") </td>
                    <td>@user.RegistrationDate</td>
                    <td>
                        <div style="width:100%;" class="btn-group" role="group">
                            <a asp-route-id="@user.Id" asp-action="Editar" asp-controller="User" role="button" class="btn btn-primary">Edit</a>
                            <a asp-route-id="@user.Id" asp-action="ApagarConfirmacao" asp-controller="User" role="button" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>