@model PasswordUpdateModel

<h4>Altere sua senha aqui:</h4>

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
		@TempData["SuccessMessage"]
	</div>

}
@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger" role="alert">
		<button type="button" class="btn btn-danger btn-sm close-alert" arial-lable="Close" hidden>X</button>
		@TempData["ErrorMessage"]
	</div>

}

<form asp-controller="User" asp-action="PasswordUpdate" method="post">

	<div class="form-group">
		<label for="pastPwd">Senha anterior</label>
		<input type="text" asp-for="PastPassword" class="form-control" id="pastPwd" maxlength="30">
		@Html.ValidationMessageFor(x => x.PastPassword)
	</div>
	<div class="form-group">
		<label for="newPwd">Nova Senha<small class="small-tags"> (mínimo 5 caracteres)</small></label>
		<input type="text" asp-for="NewPassword" class="form-control" id="newPwd" maxlength="30">
		@Html.ValidationMessageFor(x => x.NewPassword)
	</div>
	<div class="form-group">
		<label for="newPwdConfirm">Confirme Nova Senha<small class="small-tags"> (mínimo 5 caracteres)</small></label>
		<input type="text" class="form-control" id="newPwdConfirm">
		@Html.ValidationMessageFor(x => x.NewPassword)
	</div>

	<button style="margin-top:15px;" id="btnChangePwd" type="submit" class="form-control btn btn-primary" disabled>Enviar</button>
	<button style="margin-top:15px;" asp-action="Index" asp-controller="User" type="submit" class="form-control btn btn-warning">Voltar</button>
</form>
